<!doctype html>
<html lang="" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Starter Kit</title>
    
    <!-- angular flash bug removal -->
    <style type="text/css" media="screen">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
       display: none !important;
    }
    </style>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Web Starter Kit">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Web Starter Kit">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- Material Design icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- Material Design Lite page styles:
    You can choose other color schemes from the CDN, more info here http://www.getmdl.io/customize/index.html
    Format: material.color1-color2.min.css, some examples:
    material.red-teal.min.css
    material.blue-orange.min.css
    material.purple-indigo.min.css
    -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">

    <!-- Your styles -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
  </head>
  <body ng-cloak ng-controller='ValidationCtrl' class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div> 
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
          <h3>Web Starter Kit</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div> 
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
          <a href="#overview" class="mdl-layout__tab">Overview</a>
          <a href="#features" class="mdl-layout__tab">Features</a>
          <a href="#features" class="mdl-layout__tab">Details</a>
          <a href="#features" class="mdl-layout__tab">Technology</a>
          <a href="#features" class="mdl-layout__tab">FAQ</a>
          <a href="#checkout" class="mdl-layout__tab is-active">Checkout</a>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
            <i class="material-icons" role="presentation">add</i>
            <span class="visuallyhidden">Add</span>
          </button>
        </div> 
      </header>
      
      <!-- checkout wrapper -->
      <main class="mdl-layout__content checkout_wrapper">
        <!-- checkout -->
        <div class="mdl-layout__tab-panel is-active" id="checkout">
          <!-- checkout form -->
          <form method="POST" name="checkout_form" 
           action="#" id="checkout_form"
           ng-submit='pass()'>
            <!-- personal -->
            <section class="personal" id="personal_info">
              <!-- form info -->
              <h3><span class="numbering"><b>1</b></span>Personal Information</h3>
    
              <!-- form fields -->
              <div class="form_fields">
                <!-- first name -->
                <div class="first_name">
                  <label for="first_name">First name</label>
                  <input id="first_name" type="text" 
                   required ng-model='first_name' 
                   ng-pattern='/[a-zA-Z]+/'
                   name="first_name" placeholder="Elon">
                  <span class="error_msg"
                   ng-show="checkout_form.first_name.$dirty 
                   && checkout_form.first_name.$invalid">   
                      Please enter your first name.  
                  </span>                   
                </div>

                <!-- last name -->
                <div class="last_name">
                  <label for="last_name">Last name</label>
                  <input id="last_name" type="text"
                   required ng-model='last_name'
                   ng-pattern='/[a-zA-Z]+/'
                   name="last_name" placeholder="Musk">
                  <span class="error_msg"
                   ng-show="checkout_form.last_name.$dirty 
                   && checkout_form.last_name.$invalid">   
                      Please enter your last name.  
                  </span>
                </div>

                <!-- user;s email -->
                <div class="user_email">
                  <label for="email">Email</label>
                  <input id="email" type="email" name="email" ng-model="email" 
                   required placeholder="elon@placex.com">
                  <p class="error_msg" ng-show="checkout_form.email.$dirty && checkout_form.email.$invalid">
                    <span ng-show="checkout_form.email.$error.required">
                      Please enter your email.
                    </span>
                    <span ng-show="checkout_form.email.$error.email">
                      Please enter a valid email.
                    </span>
                  </p>
                </div>
                
                <!-- user's country -->
                <div class="user_country">
                  <label for="user_country">Country</label>
                  <select name="user_country">
                    <option value="United States">United States</option>
                    <option value="Canada">Canada</option>
                  </select>
                </div>

                <!-- postal code -->
                <div class="postal_code">
                  <label for="postal_code">Postal Code</label>
                  <input id="postal_code" type="text"
                   required maxlength="5" 
                   ng-model='postal_code'
                   ng-pattern="/\d{5}/" name="postal_code"  
                   placeholder="10001">
                  <span class="error_msg"
                   ng-show="checkout_form.postal_code.$dirty 
                   && checkout_form.postal_code.$invalid">   
                      Please enter a valid postal code.  
                  </span>                 
                </div>

                <!-- phone number -->
                <div class="phone_number">
                  <label for="phone_number">Phone Number</label>
                  <input id="phone_number" 
                   name='phone_number' maxlength="15" 
                   required ng-model='phone_number'
                   ng-pattern="/[\(]\d{3}[\)] \d{3}[\-]\d{2}[\-]\d{2}/"
                   type="tel" placeholder="(212) 692-93-92">
                  <span class="error_msg"
                   ng-show="checkout_form.phone_number.$dirty 
                   && checkout_form.phone_number.$invalid">   
                      Please enter a valid phone number.
                  </span>                   
                </div>
              </div>
            </section>

            <!-- payment -->
            <section class="payment" id="payment_info">
              <!-- payment details -->
              <h3><span class="numbering"><b>2</b></span>
                Payment Details
              <i class="icon icon-lock-filled">&nbsp;</i></h3>

              <!-- form fields -->
              <div class="form_fields">
                <!-- credit card -->
                <div class="credit_card">
                   <label for="credit_card">Credit Card Number</label>
                   <input id="credit_card" type="text" 
                    required name="credit_card" ng-model='credit_card'
                    placeholder="0000-0000-0000-0000" maxlength="19" 
                    ng-pattern="/\d{4}[\-]\d{4}[\-]\d{4}[\-]\d{4}/">
                   <span class="error_msg"
                     ng-show="checkout_form.credit_card.$dirty 
                     && checkout_form.credit_card.$invalid">   
                        Please enter a valid card number.
                   </span>
                </div>

                <!-- security code -->
                <div class="security_code">
                  <label for="security_code">Security code</label>
                  <input type="text" id="security_code"
                   required ng-model='security_code'
                   name="security_code" placeholder="***"
                   ng-pattern="/\d{3}/" maxlength="3">
                   <i title="Last 3 digits from the back of your card" 
                    class="icon icon-question-circle-o">&nbsp;</i>
                  <span class="error_msg"
                     ng-show="checkout_form.security_code.$dirty 
                     && checkout_form.security_code.$invalid">   
                        Please enter a valid security code.
                   </span>
                </div>

                <!-- expiration date -->
                <div class="expiration_date">
                  <label for="expiration_date">Expiration date</label>
                  <input type="text" id="expiration_date" name="expiration_date" 
                   ng-pattern="/(0[1-9]|1[012])[- /.](18|19|2\d)/" maxlength="5" 
                   ng-model='expiration_date' required placeholder="MM/YY">
                  <span class="error_msg"
                     ng-show="checkout_form.expiration_date.$dirty 
                     && checkout_form.expiration_date.$invalid">   
                        Please enter a valid expiration date.
                   </span>
                </div>
              </div>
            </section>

            <!-- submit -->
            <div class="submit">
              <button type="submit" 
               ng-disabled='checkout_form.$dirty && checkout_form.$invalid ||  
               checkout_form.$dirty && checkout_form.$invalid'>
                <i class="icon icon-basket">&nbsp;</i>Complete Purchase
              </button>
            </div>
          </form>

          <!-- order details -->
          <section id="order_details">
            <!-- order details wrapper -->
            <div class="order_details_wrapper">
              <!-- order details info -->
              <section class="order_details_info">
                <!-- order articles -->
                <div class="order_articles">
                  <h3>Your order</h3>
                  <!-- single article -->
                  <p class="single_article">
                    <span class="article_name">Apple Watch Sport</span>
                    <span class="article_price">
                      <i class="icon icon-dollar">&nbsp;</i>850
                    </span>
                 </p>

                 <!-- single article -->
                 <p class="single_article">
                    <span class="article_name">Modern Buckle</span>
                    <span class="article_price">
                      <i class="icon icon-dollar">&nbsp;</i>380
                    </span>
                 </p>
                </div>
                  
                <!-- pre calculation -->
                <div class="pre_calc">
                  <!-- pre cost -->
                  <p class="pre_cost">
                    <span class="pre_label">Total purchases</span>
                    <span class="pre_price">
                      <i class="icon icon-dollar">&nbsp;</i>960.00
                    </span>
                 </p>    

                 <!-- tax estimate -->
                 <p class="tax_estimate">
                    <span class="tax_label">Estimated tax</span>
                    <span class="tax_price">
                      <i class="icon icon-dollar">&nbsp;</i>0
                    </span>
                 </p>
                </div>

                <!-- total calculation -->
                <p class="total_calc">
                  <span class="total_calc_label">Total</span>
                  <span class="total_calc_value">
                    <i class="icon icon-dollar">&nbsp;</i>960
                  </span>
                </p>
              </section>
            </div>

          </section>
        </div>
        <footer class="mdl-mega-footer">
          <div class="mdl-mega-footer--middle-section">
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Features</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">About</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Partners</a></li>
                <li><a href="#">Updates</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Details</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Spec</a></li>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Resources</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">Technology</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">How it works</a></li>
                <li><a href="#">Patterns</a></li>
                <li><a href="#">Usage</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contracts</a></li>
              </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
              <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
              <h1 class="mdl-mega-footer--heading">FAQ</h1>
              <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Questions</a></li>
                <li><a href="#">Answers</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
          <div class="mdl-mega-footer--bottom-section">
            <div class="mdl-logo">
              More Information
            </div>
            <ul class="mdl-mega-footer--link-list">
              <li><a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy and Terms</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
  
    <script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <!-- angular - for form validation -->
    <script src="https://code.angularjs.org/1.6.9/angular.min.js"></script>
    <!-- validation script -->
    <script src="scripts/validation.js"></script>
    <!-- build:js scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
